# Homework 1

Task 1.  Create variable age equal to 32 and check its type.

In [1]:
age = 32 
type(age)

int

Task 2. Create variable height equal to 1.85 and check its type.

In [2]:
height = 1.85 
type(height)

float

Task 3.  Create variables name and surname. Define them as 'your_name' and 'your_surname'.

In [9]:
name = "Vasif"
surname ="Asadov"

Task 4.  Sum up name and surname variables. Define as ID.

In [11]:
ID = name + " " + surname 
ID

'Vasif Asadov'

Task 5.  Use indexing. Find last letter of 'your_name'.

In [12]:
last_letter = name[-1]
last_letter

'f'

Task 6. Use slicing. Find 2nd and 3rd letters of 'your_surname'.

In [13]:
surname[1:3]

'sa'

Task 7.   Create list as new_list. Include 3 4 5 6 7 integers.

In [14]:
new_list = [3,4,5,6,7]

Task 8.  Remove 5 from new_list.

In [15]:
new_list.remove(5)

In [16]:
new_list

[3, 4, 6, 7]

Task 9. Delete 2nd value of new_list.

In [17]:
new_list.remove(new_list[1])
new_list

[3, 6, 7]

Task 10. Create tuple as new_tuple. Include 3 4 5 6 7 integers.

In [18]:
new_tuple = (3,4,5,6,7)

Task 11. Change 4 in new_tuple to 8.

In [20]:
# We can not change the values in tuple directly, but we can convert it to list, change it then re-convert it to tuple, again.
ls = list(new_tuple)
ls[1] = 8 

#convert back to tuple
new_tuple = tuple(ls)
new_tuple

(3, 8, 5, 6, 7)

## Optional Questions

Task 1 opt. . Find the difference between age and 25, if the number is greater than 17 return the square of the difference.

In [21]:
def sq_dif(age): 
    difference = age - 25
    if (age - 25) > 17: 
        return (age-25)**2
    else: 
        pass

In [26]:
sq_dif(800)

600625

In [28]:
sq_dif(30)

Task 2 opt. Write a Python function to check number is positive, negative or zero.

In [31]:
def check_sign(num): 
    sign = ""
    if num>0:
        sign = "positive"
    elif num==0:
        sign = "zero"
    else: 
        sign = "negative"
    return sign

In [34]:
check_sign(-12129)

'negative'