# Homework 2

Task 1. Print First 10 natural numbers using while loop.

In [1]:
num = 0 
while num<=10:
    print(num) 
    num +=1

0
1
2
3
4
5
6
7
8
9
10

Task 2. Display -10 to -1 using for loop.

In [2]:
for i in range(-10, 0): 
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Task 3. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [4]:
for i in range(0,7): 
    if i==3 or i==6:
        continue
    else: 
        print(i)

0
1
2
4
5

Task 4. Calculate the sum of all number between 1 and 111.

In [ ]:
# with while loop
sum = 0 
n = 1
while n <= 111: 
    sum += n 
    n += 1
print(sum)

6216

In [7]:
# with for loop 
sum = 0 
for i in range(1, 112): 
    sum += i
print(sum)

6216

Task 5.  Reverse the following list using for loop: 
list1 = [10, 20, 30, 40, 50]

In [62]:
list1 = [10,20,30,40,50]
copy_list = list1.copy()
l = len(list1)
for idx, i in enumerate(list1): 
    copy_list[l - idx - 1] = i 
list1 = copy_list
print(list1)

[50, 40, 30, 20, 10]

In [37]:
# easier way 
list1 = [10,20,30,40,50]
list2 = []
for i in range(len(list1)-1,-1, -1):
    list2.append(list1[i])
list1 = list2 
del list2 
list1

[50, 40, 30, 20, 10]

In [38]:
# with while loop: 
list1 = [10,20,30,40,50]
i = len(list1)-1
list2 = []
while i>=0: 
    list2.append(list1[i])
    i-=1 
list1=list2 
del list2 
list1

[50, 40, 30, 20, 10]

Task 6. Write a Python program to find those numbers which are divisible by 7 and 5, between 
1500 and 2700 (both included).

In [44]:
divisible_by_7_5 = []
for i in range(1500,2701): 
    if i%7==0 and i%5==0: 
        divisible_by_7_5.append(i)
    else: 
        continue 
divisible_by_7_5

[1505,
 1540,
 1575,
 1610,
 1645,
 1680,
 1715,
 1750,
 1785,
 1820,
 1855,
 1890,
 1925,
 1960,
 1995,
 2030,
 2065,
 2100,
 2135,
 2170,
 2205,
 2240,
 2275,
 2310,
 2345,
 2380,
 2415,
 2450,
 2485,
 2520,
 2555,
 2590,
 2625,
 2660,
 2695]

Task 7. Display a message “Done” after successful execution of for loop.

In [45]:
divisible_by_7_5 = []
try:
    for i in range(1500,2701): 
        if i%7==0 and i%5==0: 
            divisible_by_7_5.append(i)
except:
    print("Error occured")
else: 
    print("Done")

Done

Task 8.  Write a Python program to create a lambda function that adds 15 to a given number passed in 
as an argument, also create a lambda function that multiplies argument x with argument y and 
print the result.

In [46]:
addition  = lambda x: x+15 
addition(5)

20

In [47]:
multiply = lambda x,y: x*y 
multiply(4,5)

20

Task 9. Write a Python program to square and cube every number in a given list of integers using 
Lambda.

In [56]:
list1 = [x  for x in range(0,15)]

square = lambda x: x**2 
squared_list = [square(x) for x in list1]
squared_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [66]:
# using map
list1 = [x  for x in range(0,15)]
square = lambda x: x**2 
mapsq_list = list(map(square, list1))
mapsq_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

Task 10.  Write a lambda function that returns takes x as parameter and returns x+2. Then assign it to 
a variable named L.

In [67]:
L = lambda x: x+2 
L(2)

4

Task 11.  Write a function which takes two arguments: a and b and returns the multiplication of them: 
a*b. Assign it to a variable named f.

In [68]:
f = lambda a,b: a*b 
f(5,6)

30

Task 12. Write a Python program to add two given lists using map and lambda.

In [70]:
list1 = [x for x in range(0,15)] 
list2 = [y for y in range(15,31)]
f = lambda x,y: x+y
lists_sum = list(map(f, list1,list2))
print("list1: " , list1) 
print("list2: " , list2) 
print("sum: " , lists_sum)

list1:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
list2:  [15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
sum:  [15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43]

Task 13. Write a map function that adds plus 5 to each item in the list.

In [74]:
f = lambda x: x+5
result = list(map(f, list1))
result

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Task 14. Write a map function that adds "Hello, " in front of each item in the list.

In [76]:
f = lambda x: "Hello " + str(x) 
result = list(map(f,list1))
result

['Hello 0',
 'Hello 1',
 'Hello 2',
 'Hello 3',
 'Hello 4',
 'Hello 5',
 'Hello 6',
 'Hello 7',
 'Hello 8',
 'Hello 9',
 'Hello 10',
 'Hello 11',
 'Hello 12',
 'Hello 13',
 'Hello 14']

Task 15.  Using map() function and len() function create a list that's consisted of lengths of each 
element in the first list.

In [78]:

lengths = list(map(lambda x: len(x), result))
lengths

[7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8]

Task 16. Using map() function and lambda add each elements of two lists together. Use a lambda 
with two arguments.

In [80]:
result = list(map(lambda x, y: x + y, list1, list2))
result

[15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43]

Task 17.  Using map() , lambda and count() functions create a list consisted of the number of 
occurrence of letter: a.

In [86]:
names = ["Asad", "Ramil", "Vasif", "Shakir", "Subhan", "Ardahan", "Kahramanmaraş"]
count_a = list(map(lambda x: x.count("a"), names))
count_a

[1, 1, 1, 1, 1, 2, 5]

Task 18. Using map(), lambda and count() functions create a list consisted of the number of 
occurrence of both letters: A and a.

In [88]:
names = ["Asad", "Ramil", "Vasif", "Shakir", "Subhan", "Ardahan", "Kahramanmaraş"]
count_a = list(map(lambda x: x.lower().count("a"), names))
count_a

[2, 1, 1, 1, 1, 3, 5]

Task 19.  Using filter() function filter the list so that only negative numbers are left.

In [89]:
numbers = [i for i in range(-15,15)]
negative = list(filter(lambda x: x<0, numbers))
negative

[-15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

Task 20. Using filter function, filter the even numbers so that only odd numbers are passed to the 
new list.

In [92]:
numbers = [i for i in range(-20,20)]
even = list(filter(lambda x: x%2!=0, numbers))
even

[-19,
 -17,
 -15,
 -13,
 -11,
 -9,
 -7,
 -5,
 -3,
 -1,
 1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19]

Task 21. Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [97]:
names = ["Asad", "Ramil", "Vasif", "Shakir", "Subhan", "Ardahan", "Kahramanmaraş"]
names_string = "" 
for i in names: 
    names_string += i.lower()
vowels = list(filter(lambda x: x.lower() in ["a", "e","i","o","u"],names_string))
vowels

['a',
 'a',
 'a',
 'i',
 'a',
 'i',
 'a',
 'i',
 'u',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a']

Task 22. This time using filter() and list() functions filter all the positive integers in the string.

In [98]:
mystring = "Asdsms834dsfnsdfjns8734823423hfhdbsfhb9867096djfndf121221"
def find_nums(character):
    if character.isdigit():
        return True 

integers_in_mystring = list(filter(find_nums, mystring))
integers_in_mystring

['8',
 '3',
 '4',
 '8',
 '7',
 '3',
 '4',
 '8',
 '2',
 '3',
 '4',
 '2',
 '3',
 '9',
 '8',
 '6',
 '7',
 '0',
 '9',
 '6',
 '1',
 '2',
 '1',
 '2',
 '2',
 '1']

In [104]:
# with lambda 
digits_in_string = list(filter(lambda chr: chr in ["0","1","2","3","4","5","6","7","8","9"], mystring))
digits_in_string

['8',
 '3',
 '4',
 '8',
 '7',
 '3',
 '4',
 '8',
 '2',
 '3',
 '4',
 '2',
 '3',
 '9',
 '8',
 '6',
 '7',
 '0',
 '9',
 '6',
 '1',
 '2',
 '1',
 '2',
 '2',
 '1']

In [ ]:
# with lambda and isdigit() function
digits_in_string = list(filter(lambda chr: chr.isdigit(), mystring))
digits_in_string

['8',
 '3',
 '4',
 '8',
 '7',
 '3',
 '4',
 '8',
 '2',
 '3',
 '4',
 '2',
 '3',
 '9',
 '8',
 '6',
 '7',
 '0',
 '9',
 '6',
 '1',
 '2',
 '1',
 '2',
 '2',
 '1']

Task 22. This time using filter() and list() functions filter all the positive integers in the string.

In [ ]:
s = "abc -5 8 -3 2 x9 -1 4 -0 7 10 -99"


def check_positivity(idx):  
    flag = False 
    if s[idx].isdigit() and (idx ==0 or s[idx - 1] != "-"): 
        flag = True 
    return flag 


# here we want to filter out the indices of positive digits
# positive digits must satisfy two conditions: 
# 1. must be number (check with isdigit())
# 2. must not have minus sign before it
# is_positive() function checks these conditions. 


def is_positive(char):  # function will receive the selected character inside the string
    idx = s.index(char) # it will find the index of this character
    flag = False    
    if char.isdigit() and (idx == 0  or s[idx-1] != "-"): # this checks whether that character is digit
        flag = True     # then checks whether it is first character or it does not have "-" sign before it. 
    return flag         # based on condition checking it will return flag (True or False)

result = list(filter(is_positive, s)) # filter function will eliminate characters inside the string based on
# the True/False results of is_positive function.

result

['8', '2', '9', '4', '7', '9', '9']

Task 23.  Using map() and filter() functions add 2000 to the values below 8000.

In [20]:
# randomly generate list 
import random 
random.seed(42)
numbers = [random.randint(2000, 15000) for _ in range(25)]
numbers

[12476,
 3824,
 2409,
 14149,
 6506,
 6012,
 5657,
 4286,
 14066,
 3679,
 13087,
 14135,
 10935,
 3424,
 11674,
 8912,
 2520,
 2488,
 3535,
 5582,
 5811,
 10279,
 11863,
 2434,
 11195]

In [21]:
add_2000 = list(map(lambda y: y + 2000,filter(lambda x: x<8000,numbers)))
add_2000

[5824,
 4409,
 8506,
 8012,
 7657,
 6286,
 5679,
 5424,
 4520,
 4488,
 5535,
 7582,
 7811,
 4434]

Task 24.  Write a Python program to count the even, odd numbers in a given array of integers 
using Lambda.

In [24]:
# generate random list 
random.seed(17)
numbers = [random.randint(2,100) for _ in range(12)]
numbers

[68, 55, 40, 48, 39, 24, 100, 92, 92, 71, 86, 37]

In [25]:
even_numbers = len(list(filter(lambda x: x%2==0, numbers)))
even_numbers

8

In [26]:
odd_numbers = len(list(filter(lambda x: x%2!=0, numbers)))
odd_numbers

4

Task 25.  Write a Python program to filter a given list whether the values in the list are having length 
of 6 using Lambda.

In [29]:
list1 = ["sabati", "ramazan", "saurma", "akrabati", "venividivici", "r", "ruby", "css", "python","c++", "determination","data",
         "strict", "professional","kick","ball","tell","ask","speak","country"]

filter_long_strings = list(filter(lambda x: len(x)>=6, list1))
filter_long_strings

['sabati',
 'ramazan',
 'saurma',
 'akrabati',
 'venividivici',
 'python',
 'determination',
 'strict',
 'professional',
 'country']

Task 26.  Write a Python program to find numbers divisible by nineteen or thirteen from a list of 
numbers using Lambda.

In [39]:
# 19 and 13 
divisible_by_19_13 = [19*13, 19*13*2,19*13*5,19*13*25,19*13*7,19*13*75,19*13*55,19*13*22]
random_numbers = [random.randint(200,200000) for _ in range(20)]
numbers = divisible_by_19_13 + random_numbers

result = list(filter(lambda x: x%19==0 and x%13==0, numbers))
result

[247, 494, 1235, 6175, 1729, 18525, 13585, 5434]

Task 27.  Using zip() function and list() function, create a merged list of tuples from the two lists 
given.

In [40]:
t1 = ("Vasif", "Ramil", "Agamir", "Sirzad")
t2 = (24, 23, 55,90)
result = list(zip(t1,t2))
result

[('Vasif', 24), ('Ramil', 23), ('Agamir', 55), ('Sirzad', 90)]

Task 28. First create a range from 1 to 8. Then using zip, merge the given list and the range together 
to create a new list of tuples.

In [44]:
t1 = tuple(range(1,9))
t2 = ("Do", "re", "mi", "fa", "so","lya", "si")
list(zip(t1,t2))

[(1, 'Do'), (2, 're'), (3, 'mi'), (4, 'fa'), (5, 'so'), (6, 'lya'), (7, 'si')]

Task 29.  Using zip and dict functions create a dictionary which has its key-value pairs coming from 
lst1 and lst2.

In [45]:
lst1 = ["Country", "City","Name", "Game"]
lst2 = ["Azerbaijan", "Baku","Vasif","Chess"]

mydict = dict(zip(lst1,lst2))
mydict

{'Country': 'Azerbaijan', 'City': 'Baku', 'Name': 'Vasif', 'Game': 'Chess'}

Task 30.  Using zip, list and sorted functions create a sorted list of tuples from lst1 and lst2.

In [47]:
t1 = tuple(random.randint(1,100) for _ in range(10))
t2 = ("Aba", "Bat", "key", "Scorpion","Night", "Stay", "Walk","Talk","Blink","Click","Check")

result = sorted(list(zip(t1,t2)))
result

[(4, 'key'),
 (7, 'Blink'),
 (43, 'Click'),
 (47, 'Aba'),
 (55, 'Talk'),
 (67, 'Walk'),
 (73, 'Stay'),
 (74, 'Night'),
 (77, 'Bat'),
 (96, 'Scorpion')]